
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="videoType" (ionChange)="updateVideosListing()">
      <ion-segment-button value="0">
        TV
      </ion-segment-button>
      <ion-segment-button value="1">
        Music
      </ion-segment-button>
      <ion-segment-button value="2">
        Comedy
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateVideosListing()" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="history">
     <ion-list >
    <ion-item-group >
      <ion-item-sliding *ngFor="let video of videos">   
        <button ion-item (click)="goto(video.Subject)" >
          <!--<h3>{{video.Name}}</h3>-->
           <img class="avatar" src="{{video.Thumbnail}}" alt="Speaker profile pic">
           <ion-icon *ngIf="video.isFavourite"    name="star"></ion-icon>
          <p>
            {{video.Name}} &mdash; {{video.Subject}}
            
          </p>
        </button>

        <ion-item-options>
          <!--<button (click)="favourite(video)" ion-button color="favorite" ><ion-icon *ngIf="video.isFavourite"    name="star"></ion-icon>
            Favorite
          </button>-->
          <button (click)="remove(video)" ion-button color="danger">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

</ion-content>

