<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Video Details</ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="cards-bg">
    <ion-card>
        <div class="video-container">
            <!-- controls="controls"  (click)="playVideo()"-->
            <video poster="{{videoPosterSrc}}" src="{{videoCtrlSrc}}" #videoControl   width="100%"
                height="100%"></video>
        </div>
        <ion-card-content>
            <ion-card-title>
                {{filteredVideo.Name}}
            </ion-card-title>
            <p>
               {{filteredVideo.Comment}}
            </p>
        </ion-card-content>

        <ion-row no-padding>
            <ion-col>
                <button (click)="toggleFavourite()" ion-button clear small color="danger" icon-left>
          <ion-icon name='star' *ngIf="favVisible"></ion-icon>
          Favorite
        </button>
            </ion-col>
            <ion-col text-center>
                <button (click)="playVideo()" ion-button clear small color="danger" icon-left>
          <ion-icon *ngIf="isPlaying" name='musical-notes'></ion-icon>
          <ion-icon *ngIf="!isPlaying" name='volume-off'></ion-icon>
            {{videoStatusDisplay}}
        </button>
            </ion-col>
            <ion-col text-right>
                <button (click)="goToTwitter()" ion-button clear small color="danger" icon-left>
          <ion-icon  name="logo-twitter"></ion-icon>
          Tweet
        </button>
            </ion-col>
        </ion-row>

    </ion-card>

  

</ion-content>