<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-segment [(ngModel)]="videoType" (ionChange)="updateVideosListing()">
      <ion-segment-button value="0">
        TV
      </ion-segment-button>
      <ion-segment-button value="1">
        Music
      </ion-segment-button>
      <ion-segment-button value="2">
        Comedy
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateVideosListing()" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="history">
  <ion-list class="list-full-border">
    <!--<ion-item *ngFor="let video of videos">-->
      <!--<div>
        <div class="bold"><a href="#" (click)="goto(video.Subject)">{{video.Subject}}</a></div>
       
        <div>Name: {{ video.Name }}</div>
       
      </div>-->
       <ion-grid fixed>
      <ion-row align-items-stretch>
        <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let video of videos">

       <ion-card class="speaker-card">

            <ion-card-header>
              <button ion-item detail-none (click)="goto(video.Subject)">
        <ion-avatar item-left>
          <img src="{{video.Thumbnail}}" alt="Speaker profile pic">
        </ion-avatar>
        {{video.Subject}}
      </button>
            </ion-card-header>
       </ion-card>
      <ion-icon name="ios-star-outline" item-right></ion-icon>
        </ion-col>
      </ion-row>
       </ion-grid>
       
    <!--</ion-item>-->
  </ion-list>
</ion-content>
